.liked {
  background-color: #42B1E5 !important;
}


.fondo {
   background: url("slider.png");
   background-size: 900px 600px;
   }

.slider {
	widht: 100%;
	height: 200px;
}

.sidebar {
	width: 250px;
	height: auto;
	box-shadow: grey 0 0 1px 0;
	border-radius: 5px;
	float: left;
	hight: 100%;
}

.white {
	color: white;
} 


.indexarticle {
	text-align: center;
}

.later_concerts {
	text-align: center;
	background: blue;
	border-radius: 5px;
	padding: 0.5px;
}

.margen {
	margin: 5px;
}

/**********************slider**********************/


.form_container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.left, .right {
  position: absolute;
  top: 50%;
  font-size: 4em;
  height: 60px;
  width: 60px;
  line-height:50px;
  border: none;
  color: #f7f7f7;
  background-color: #ef6f53;
  border-radius: 100px;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
.form_container .slideContainer {
  white-space: nowrap;
}

.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}

/**********************fin slider**********************/


.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
.double-column-right{ float:right; width:50%}
.double-column-left{ float:left; width:50%}
.single-column{ display: inline-block; width: 100%}

#sidebar {
float:right;
width:25%;
}

#main {
float:left;
width:75%;
}