
#like-button {
  border-style: none;
  background-color: #215389;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.liked {
  background-color: #42B1E5 !important;
}

.sidebar {
	width: 300px;
	height: auto;
	box-shadow: grey 0 0 1px 0;
	border-radius: 5px;
	float: left;
}

.indexarticle {
	float: left;
}

.later_concerts {
	text-align: center;
	background: blue;
	border-radius: 5px;
	padding: 0.5px;
}